.addform {
  margin: 1em -1em 0;
  &__input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    &:focus {
      background-color: #f7f7f7;
    }
  }
}
