.list__item {
  padding: 0.5em;
  background-color: #eee;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__right {
    display: grid;
    grid-template-columns: 1.5em 1.5em;
    gap: 0.5em;
    .edit {
      color: #535353;
      border: none;
      padding: 0.25em;
      cursor: pointer;
      &:hover {
        color: #e91e63;
      }
    }
    .delete {
      color: #535353;
      border: none;
      padding: 0.25em;
      cursor: pointer;
      &:hover {
        color: #e91e63;
      }
    }
  }
  &__label {
    display: grid;
    grid-template-columns: 1em auto;
    width: 90%;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
    form {
      display: flex;
      border: none;
      position: relative;
      &:hover .save {
        color: #e91e63;
        cursor: pointer;
      }
      &:hover .close {
        color: #e91e63;
        cursor: pointer;
      }
      .edit-input {
        position: absolute;
        left: 0;
        right: 0;
        top: -0.75em;
        background-color: #eee;
        border: none;
        outline: none;
        line-height: 1.2;
        border-bottom: 2px solid #e91e63;
        width: auto;
      }
      .save {
        border: none;
        background-color: transparent;
        color: #eee;
        position: absolute;
        padding: 0.025em;
        right: 1.5em;
        top: -0.75em;
        &:hover {
          color: #e91e63;
        }
      }
      .close {
        border: none;
        background-color: transparent;
        color: #eee;
        position: absolute;
        padding: 0.025em;
        right: 0;
        top: -0.75em;
        &:hover {
          color: #e91e63;
        }
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
      appearance: none;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid #e91e63;
      border-radius: 0.15em;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center;
    }
    input[type="checkbox"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      background-color: #e91e63;
    }
    input[type="checkbox"]:checked::before {
      transform: scale(1);
    }
    input[type="checkbox"]:checked + .list__item__text {
      text-decoration: line-through;
      opacity: 0.8;
    }
    input[type="checkbox"]:focus {
      outline: max(2px, 0.15em) solid #e91e63;
      outline-offset: max(2px, 0.15em);
    }
  }
}
