.list__item {
  padding: 0.5em;
  background-color: #eee;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__right {
    display: grid;
    grid-template-columns: 1.5em 1.5em;
    gap: 0.5em;
    .edit {
      padding: 0.25em;
      cursor: pointer;
      &:hover {
        color: #e91e63;
      }
    }
    .delete {
      padding: 0.25em;
      cursor: pointer;
      &:hover {
        color: #e91e63;
      }
    }
  }
  &__label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: flex-end;
    cursor: pointer;
    input[type="checkbox"] {
      cursor: pointer;
      appearance: none;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid #e91e63;
      border-radius: 0.15em;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center;
    }
    input[type="checkbox"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      background-color: #e91e63;
    }
    input[type="checkbox"]:checked::before {
      transform: scale(1);
    }
    input[type="checkbox"]:checked + .list__item__text {
      text-decoration: line-through;
      opacity: 0.8;
    }
    input[type="checkbox"]:focus {
      outline: max(2px, 0.15em) solid #e91e63;
      outline-offset: max(2px, 0.15em);
    }
  }
}
