.App {
  background-color: rgb(109, 221, 212);
  height: 100vh;
  display: flex;
  justify-content: center;

  .container {
    font-family: "Roboto", sans-serif;
    color: #535353;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    .heading {
      padding: 0.75em 0;
      margin: 0 1.25em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid transparent;
      border-color: #e4e4e4;

      &__title {
        text-transform: uppercase;
        font-weight: 600;
      }
      &__button {
        background-color: #e91e63;
        text-transform: capitalize;
        color: #ffffff;
        cursor: pointer;
        border: none;
        padding: 0.25em 0.5em;
        white-space: nowrap;
        position: relative;
        transition: 0.2s;

        &:hover {
          background-color: #c1134e;
          box-shadow: 0 2px 4px 3px rgb(0 0 0 / 10%);
        }
      }
    }
    .body {
      padding: 1em 1.25em 0;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      padding: 0.5em 1.25em;
      background-color: #eee;
      border-top: 1px solid #f7f7f7;
      .left {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.25em;
        .active {
          background-color: #535353;
          color: white;
        }
        &__button {
          box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
          cursor: pointer;
          padding: 0 0.5em;
          text-transform: capitalize;
          color: #464646;
          background-color: #ffffff;
          border-color: #e0e0e0;
          font-size: 12px;
          line-height: 1.5;
          border-radius: 1px;
          border: 1px solid transparent;
          white-space: nowrap;
          &--active {
            text-transform: capitalize;
            color: #464646;
            background-color: #ffffff;
            border-color: #e0e0e0;
          }

          &:hover {
            box-shadow: 0 2px 4px -1px rgb(0 0 0 / 10%),
              0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
          }
        }
      }
      .right {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.25em;
        &__span {
          box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
          padding: 0 0.5em;
          font-size: 12px;
          line-height: 1.5;
          border-radius: 1px;
          background-color: white;
          cursor: default;
          &:hover {
            background-color: #464646;
            color: white;
          }
        }
        &__button {
          box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
          cursor: pointer;
          padding: 0 0.5em;
          text-transform: capitalize;
          color: #ffffff;
          background-color: #e91e63;
          border-color: #e8175e;
          font-size: 12px;
          line-height: 1.5;
          border-radius: 1px;
          border: 1px solid transparent;
          white-space: nowrap;
          &:active {
            color: #ffffff;
            background-color: #c1134e;
            border-color: #b11148;
          }
          &:hover {
            color: #ffffff;
            background-color: #c1134e;
            border-color: #b11148;
            box-shadow: 0 2px 4px -1px rgb(0 0 0 / 10%),
              0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
          }
        }
      }
    }
  }
}
// small screen
@media (min-width: 567px) {
  .container {
    width: 500px;
  }
}
// medium
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
//large
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
// extra large
@media (min-width: 1200px) {
  .container {
    width: 950px;
  }
}
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );
